
.logo {
    margin-left: 20px;
}

.blank-layout-container {
    height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
  }

  .custom-row {
    &.row {
      margin-right: -8px;
      margin-left: -8px;
      .col-2,
      .col-12 {
        padding-right: 8px;
        padding-left: 8px;
      }
    }
  }
  
  .or-border {
    position: relative;
    text-align: center;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 100px;
      top: 50%;
      height: 1px;
      background: greenyellow;
    }
    &:after {
      content: "";
      position: absolute;
      right: 0;
      width: 100px;
      top: 50%;
      height: 1px;
      background: greenyellow;
    }
  }
  
  .boxed-auth {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
  
  .max-width-form {
    max-width: 450px;
  }

/* 
.titleAuth {
    margin-left: 200px;
    padding-top: 0px;
    font-size: 20px;
    }

.headAuth{
    font-size: 25px;
    background-color: aquamarine;
    align-self: auto!important;
    align-content: center!important;
    text-align: center!important;
    padding-left: 46%;
} */



